{% if page.header.banner %}
	{% set banner_data = page.header.banner %}
<!-- Banner -->
	<section id="{{ id }}" style="background-image: url('{{ banner_data.background_image ? banner_data.background_image : url('theme://images/banner.jpg') }}')">
		<div class="content">
			<header>
				<h2>{{ banner_data.headline }}</h2>
				{% if banner_data.quips %}
					<p>{{ banner_data.quips|join('<br/>')|raw }}</p>
				{% endif %}
			</header>
			<span class="image"><img src="{{ banner_data.hero_image ? banner_data.hero_image : url('theme://images/pic01.jpg' ) }}" alt="{{ banner_data.hero_alt }}" /></span>
		</div>
	{% if next_id %}
		<a href="#{{ next_id }}" class="goto-next scrolly">Next</a>
	{% endif %}
	</section>
{% else %}
	{{ dump('Notice: homepage banner section not rendered because page header "banner" is absent in frontmatter.') }}
{% endif %}
